<ion-header [translucent]="true">
  <ion-toolbar color="primary">

    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="2" class="back">
          <div class="link">
            <a routerLink="/home" class="ion-text-center">
              <ion-icon name="arrow-back"></ion-icon>
            </a>
          </div>
        </ion-col>
        <ion-col size="4" class="back">
          <div>
            <ion-title class="page-title">
              Videoclub
            </ion-title>
            <span></span>
          </div>
        </ion-col>
        <ion-col size="5" class="list-icon">
          <div>
            <ion-button *ngIf="modoLista == true" (click)="cambiarVista()">
              <ion-icon slot="icon-only" name="reorder-four-sharp"></ion-icon>
            </ion-button>
            <ion-button *ngIf="!modoLista == true" (click)="cambiarVista()">
              <ion-icon slot="icon-only" name="apps-sharp"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">videoclub</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div *ngIf="listaPeliculas.length>0; else emptyList">
      <ion-list *ngIf="modoLista == true; else modoGrid">
        <ion-item *ngFor="let pelicula of listaPeliculas; index as id" (click)="verPaginaDetalle(id+1)" [button]="true" detail="true">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="{{pelicula.poster}}" />
          </ion-thumbnail>
          <ion-grid>
            <ion-row class="ion-no-padding">
              <ion-col class="ion-text-bold no-padding-left">{{pelicula.title}}</ion-col>
            </ion-row>
            <ion-row class="ion-no-padding">
              <ion-col class="ion-text-bold ion-no-padding">Director: {{pelicula.director}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="no-padding-left">Año: {{pelicula.year}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

      </ion-list>

      <ng-template #modoGrid>
        <ion-grid class="ion-no-padding modoGrid">
          <ion-row>
            <ion-col class="movieCard" *ngFor="let pelicula of listaPeliculas; index as id" (click)="verPaginaDetalle(id+1)">
              <div>
                <img alt="Silhouette of mountains" src="{{pelicula.poster}}" />
                <ion-grid>
                  <ion-row class="ion-no-padding">
                    <ion-col class="ion-text-bold no-padding-left">{{pelicula.title}}</ion-col>
                  </ion-row>
                  <ion-row class="ion-no-padding">
                    <ion-col class="ion-text-bold ion-no-padding">Director: {{pelicula.director}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="no-padding-left">Año: {{pelicula.year}}</ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>


      </ng-template>

    </div>

    <ng-template #emptyList>
      <p class="emptymessage">La Lista está vacía.</p>
    </ng-template>

  </div>

</ion-content>
