<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="2">
          <div class="link">
            <a routerLink="/autor" class="ion-text-center">
              <ion-icon name="arrow-back"></ion-icon>
            </a>
          </div>
        </ion-col>
        <ion-col size="4">
          <div>
            <span>curriculum</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">curriculum</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-list>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-bold">2023-Actualidad</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Desarrollo de Aplicaciones Web. Actualmente en Formación en Centro de Trabajo</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-bold">2022-2023</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Desarrollador de Aplicaciones Web Freelancer con Angular</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-bold">2012-2014</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>F.P.II Desarrollo de Aplicaciones Multiplataformas</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-bold">2018-2010</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>F.P.II Administración de Sistemas Informáticos</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

    </ion-list>

  </div>
    
</ion-content>
